---
name: Build

on:
  workflow_run:
    workflows: ['Terraform Plan']
    types:
      - completed
    branches:
      - master

run-name: ${{ github.event.workflow_run.name }}

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build function package
        run: npm run build:function
